@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salut Nikita</h1>
    <p>trebuie sa faci proiectul acesta timp de o saptamana, ori orice efort pe care il depui va fi in zadar.</p>
</div>
